<div class="container">
  <h1>Kwetter login</h1>
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

    <label for="username">Username</label><br>
    <input type="text" name="username" id="username" formControlName="username">
    <div *ngIf="submitted && messageForm.controls.username.errors">
      <div *ngIf="messageForm.controls.username.errors.required">This field can't be empty</div>
    </div><br><br>

    <label for="password">Password</label><br>
    <input type="text" name="password" id="password" formControlName="password" type="password">
    <div *ngIf="submitted && messageForm.controls.password.errors">
      <div *ngIf="messageForm.controls.password.errors.required">This field can't be empty</div>
    </div><br><br>

    <input type="submit" value="Inloggen">
    <br><br>
    <div *ngIf="loginError">
      <div>Wrong username/password combination</div>
    </div>

  </form>
</div>
