.kweet{
  border: 1px solid rgba(211,211,211,0.2);
  overflow: hidden;
  padding: 10px;
}

.options {
  float: right;
  cursor: pointer;
}

.image {
  margin-right: 10px;
  float: left;
  height: 80px;
}

.image img {
  border-radius: 50px;
}

.creator {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.content {
  padding : 10px 5px 10px 0;
}

.likes {
}

.like {
  cursor: pointer;
}
