.kweet{
  border: 1px solid rgba(211,211,211,0.2);
  overflow: hidden;
}

.image {
  margin-right: 10px;
  float: left;
  height: 80px;
}

.creator {
  font-weight: bold;
}

.content {
  padding : 10px 5px 10px 0;
}

.like {
  cursor: pointer;
}
