<div>
  <div class="blueBar"></div>
  <div class="pageConent" *ngIf="user">
    <div class="profile">
      <div class="username"><b>{{user.username}}</b></div>
      <button *ngIf="showFollow()" (click)="follow()"
        class="follow">{{ isFollowing ? 'Unfollow' : 'Follow' }}</button><br />
      <a (click)="popup('followers')" data-toggle="modal" data-target="#exampleModal">Followers: {{user.followerCount}}</a><br />
      <a (click)="popup('following')" data-toggle="modal" data-target="#exampleModal"> Following: {{user.followingCount}}</a>
    </div>
    <div class="timeline" *ngIf="user">
      <div class="kweets" *ngFor="let kweet of user.kweets">
        <app-kweet [parentData]="kweet"></app-kweet>
      </div>
    </div>
  </div>
</div>
<app-users-modal></app-users-modal>
