.blueBar {
  margin-top: 42px;
  height: 42px;
  width: 100%;
  background-color: #1DA1F2;
}

.pageConent {
  padding-top: 10px;
  width: 1000px;
  margin: 0 auto 0 auto;
}

.timeline {
  flex: 1 1 auto;
  background-color: rgb(230, 236, 240);
}

.kweets {
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
}

.profile {
  float: left;
  margin-right: 10px;
  width: 220px;
  background-color: white;
  padding: 10px;
}


